# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\N1ko\test tasks\Hicaliber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
